* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    
}

body {
    background-image: linear-gradient(to right, #00ffffce, #010b46dc);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-image: linear-gradient(to right, #ffffff83, rgba(175, 173, 173, 0.568));
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#calc h3 {
    font-style: italic;
    font-family: monospace;
    font-size: 38px;
    font-weight: 300;
    color: #5a5a5a;
    
}

#operations {
    text-align: right;
}

#previous-operation,
#current-operation {
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previus-operations {
    color: #636363;
}

#current-operation {
    font-size: 3em;
    font-weight: 700;           
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;

}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #3677f057;
    border-radius: 25px;
    cursor: pointer;
    font-style: italic;
    color: rgb(255, 255, 255);
    
}

#buttons-container .number {
    background-color: #ffffff;
    color: black;
    border-radius: 25px;
}

#buttons-container button:hover {
    background-color: #d6d6d6;
    border-color: #999;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #6d45cada;
    color: white;
}

#buttons-container #equal-btn:hover {
    background-color: #3a91d8;
}

